<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>

<title>Update Pilot</title>
</head>
<body>
	<h3>Update Pilot</h3>
	<form th:action="@{/pilot/update/}" method="POST">
	<input type="hidden" name="licenseNumber" th:value="${license_number}"/>
		License Number: <br>
		<input type="text" name="licenseNumber" th:value="${license_number}" disabled="disabled"/><br>
		Name: <br>
		<input type="text" name="name" th:value="${name}"/><br>
		Fly Hour: <br>
		<input type="text" name="fly_hour" th:value="${fly_hour}"/> <br><br>
		<button type="submit">Submit</button>
	</form>

</body>
</html>